@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Inria+Sans:wght@400;700&family=Jost:wght@100..900&display=swap');


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
:root{
     --Logo-font: "Inria Sans", serif;
     --Basic-font: "Jost", serif;
     --hero-font: "Gowun Batang", serif;
     --primary-color: #FBC9A9;
     --secondary-color: #fddeca;
     --brown: #743131;
     --white: #fbfbfb;
}

body{
     background-color: var(--primary-color);
}

/* // Home--page--CSS */


/* Header--CSS */

.head-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     position: sticky;
     top: 0;
     background-color: var(--primary-color);
     z-index: 1000;
}
.head-container h1 {
     font-family: var(--Logo-font);
     font-weight: 700;
     font-size: 32px;
     color: var(--brown);
}
.head-container .nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
}
.head-container .nav li{
     list-style: none;
}
.head-container .nav a{
     text-decoration: none;
     color: var(--brown);
     font-family: var(--Basic-font);
     font-size: 20px;
}
.head-container .nav a:hover {
     padding: 6px 15px;
     background-color: var(--secondary-color);
     border-radius: 10px;
     transition: all 0.3s ease;
}
.head-container .nav a.active {
     padding: 6px 15px;
     background-color: var(--secondary-color);
     border-radius: 10px;
}
.icons{
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     gap: 10px;
}
.icon{
     width: 20px;
     height: auto;
}
.icon img{
     max-width: 100%;
     max-height: 100%;
}
.search{
     display: none;
}
.menu-toggle div{
     width: 1.5rem;
     height: 0.25rem;
     margin-top: 0.25rem;
     border-radius: 2px;
     background-color: var(--brown);
}
.menu-toggle {
     display: block;
     cursor: pointer;
}

.menu-toggle.active-menu .bar:nth-child(2) {
     opacity: 0;
}

.menu-toggle.active-menu .bar:nth-child(1) {
     transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active-menu .bar:nth-child(3) {
     transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
     .head-container .nav {
          flex-direction: column;
          justify-content: start ;
          gap: 20px;
          position: fixed;
          width: 100%;
          height: 40vh;
          right: 0;
          top: -100%;
          z-index: 1000;
          padding: 40px 30px 0;
          font-weight: 500;
          transition: top 0.8s;
          backdrop-filter: blur(30px);
          -webkit-backdrop-filter: blur(30px);
     }
     .head-container .nav a:hover {
          transition: none;
     }
     .head-container .nav.active-nav{
          top: 16%;
     }

}

/* Hero-section--CSS*/

.hero{
     padding: 20px;
     background-color: var(--white);
     margin: 20px;
     border-radius: 16px;
     text-align: center;
}
.hero-motto h1{
     font-family: var(--hero-font);
     font-size: 40px;
     color: var(--brown);
     margin-bottom: 20px;
}
.hero-images{
     display: flex;
     justify-content: center;
     gap: 20px;
}
.crime{
     width: 120px;
     height: auto;
}
.wuthering{
     width: 110px;
     height: auto;
}
.crime img,
.wuthering img {
     max-width: 100%;
     max-height: 100%;
}

.book-card{
     background-color: var(--white);
     padding: 20px;
     max-width: 300px;
     border-radius: 12px;
     cursor: pointer;
}
.book-card:hover{
     transform: translate(0, -10px);
}
.book-image{
     max-width: 260px;
     height: auto;
}
.book-image img{
     max-width: 100%;
     max-height: 100%;
     border-radius: 8px;
}
.book-description{
     margin-top: 20px;
}
.book-description h2{
     font-family: var(--Basic-font);
     font-size: 16px;
     font-weight: 400;
     margin-top: 6px;
}
.book-description h2 span{
     font-weight: 600;
     margin-right: 4px;
     letter-spacing: 0.4px;
}
.books-list{
     display: flex;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
     margin-bottom: 50px;
}
@media(min-width: 768px){

     /* Header--CSS */

     .head-container {
          padding: 20px 50px;
     }
     .menu-toggle{
          display: none;
     }
     .nav-container{
          display: block;
     }
     .search {
          display: block;
     }

     /* Hero-section--CSS*/

     .hero{
          display: flex;
          justify-content: center;
          align-items: center; 
          margin: 20px 50px;
          text-align: left;
          padding: 70px 50px;
     }
     .hero-motto h1{
          font-size: 50px;
          padding-right: 16px;
     }
     .book-image{
          height: 360px;
     }     
     .hero-images {
          gap: 20px;
     }
     .books-list {
          display: grid;
          place-items: center;
          grid-template-columns: repeat(3, 1fr);
          margin: 0 50px 50px;
          align-items: stretch;
     }
     .book-card{
          margin: 30px 15px 0;
     }
     .book-card h2{
          font-size: 14px;
     }
}

@media(min-width: 1024px) {
     .hero-motto h1 {
          font-size: 64px;
          padding-right: 40px;
     }
     .crime {
          width: 180px;
          height: auto;
     }

     .wuthering {
          width: 150px;
          height: auto;
     }
     .books-list {
          grid-template-columns: repeat(4, 1fr);
     }
     .book-card h2 {
          font-size: 16px;
     }
}




/* // Author--page--CSS */

.profile{
     padding: 20px;
     background-color: var(--white);
     margin: 20px;
     border-radius: 16px;
}
.profile-image{
     max-width: 200px;
     height: auto;
     margin: 0 auto;
}
.profile-image img{
     max-width: 100%;
     max-height: 100%;
     border-radius: 8px;
}
.biography h1{
     font-family: var(--hero-font);
     font-size: 36px;
     color: var(--brown);
     margin-top: 14px;
}
.biography span{
     font-size: 18px;
}
.biography p{
     font-family: var(--Basic-font);
     font-size: 17px;
     margin-top: 16px;
}
.biography h2{
     font-family: var(--hero-font);
     font-size: 28px;
     color: var(--brown);
     text-align: left;
     margin: 14px 0;
}
.book-images{
     display: flex;
     gap: 20px;
}
.book-pic{
     width: 100px;
     height: auto;
}
.book-pic img{
     max-width: 100%;
     max-height: 100%;
}

@media(min-width: 768px) {
     .profile{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 50px 350px 50px 400px;
          margin: 20px 50px;
     }
     .profile-image {
          min-width: 300px;
          height: auto;
          transform: scale(1.5);
     }
}
@media(min-width: 1024px) {
     .profile {
          padding: 60px 100px 60px 130px;
     }

     .profile-image {
          transform: scale(1.7);
     }
     .biography h1 {
          font-size: 48px;
     }

     .biography span {
          font-size: 18px;
     }

     .biography p {
          font-size: 18px;
          margin-top: 16px;
          padding-right: 50px;
     }

     .biography h2 {
          font-family: var(--hero-font);
          font-size: 32px;
          color: var(--brown);
          margin: 20px 0 14px;
     }
     .book-images {
          gap: 0px;
     }

     .book-pic {
          width: 150px;
          height: 180px;
     }
}


/* //Genre page CSS */

.generes-container .genre-header h2{
     font-family: var(--hero-font);
     font-size: 30px;
     color: var(--brown);
     padding: 20px;
}
@media(min-width: 768px) {
     .generes-container .genre-header h2 {
          padding: 20px 50px;
     }
}